@model grupo_rojo.Models.Contacto



<head>
<link rel="stylesheet" href="/css/contacto.css" asp-append-version="true" />
</head>

@using (Html.BeginForm("EnviarMensaje", "Contacto", FormMethod.Post))
{
    <div id="formContact">
        <h2>Contacto</h2>
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Message)
            @Html.TextAreaFor(model => model.Message, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Message)
        </div>
        <div class="form-group button-container">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </div>
}
 <h1>@ViewData["Message"]</h1>
