@model grupo_rojo.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Articulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Articulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Composici칩n)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Composici칩n)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ancho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ancho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gramaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gramaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dise침o)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dise침o)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
