@model IEnumerable<grupo_rojo.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Articulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Composici칩n)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ancho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gramaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dise침o)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Articulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Composici칩n)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ancho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gramaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dise침o)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageURL)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
